@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-style: normal;
}

/*  ********** top-main-div ************ */

.top-main-div {
  width: 100%;
  height: 470.35px;
  background: linear-gradient(90deg, #5e72e4 0%, #825ee4 100%);
}
.nav-bar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  padding-right: 48px;
}
.welcome-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  color: #ffffff;
}
.welcome-text p {
  width: 435px;
  height: 56px;
  text-align: center;
  color: #ced4da;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

/* ********** form-div ********** */
.form-div {
  height: 553px;
  width: 445px;
  background: #f4f5f7;
  border-radius: 6px;
  position: absolute;
  top: 32%;
}
.google-git a {
  height: 44px;
  width: 125px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 1px 3px rgba(50, 50, 93, 0.15);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #5e72e4;
  margin: 10px;
}
.sign-up-credentials {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8898aa;
}
.text-input-box input {
  height: 46px;
  width: 349px;
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 1px 3px rgba(50, 50, 93, 0.15);
  border-radius: 6px;
  margin-top: 12px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  padding-left: 20px;
  color: #adb5bd;
}
.check-box input {
  background: #ffffff;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.02),
    0px 1px 3px rgba(50, 50, 93, 0.15);
  border-radius: 3px;
}
.check-box span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #8898aa;
}
.signin-button {
  height: 43px;
  width: 90px;
  background: #5e72e4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.08), 0px 4px 6px rgba(50, 50, 93, 0.1);
  border-radius: 6px;
}
.signin-button a {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
/* ********** bottum-main-div ********** */

.bottum-main-div {
  width: 100%;
  background: #172b4d;
  height: 739px;
  position: absolute;
  top: 48%;
  z-index: -1;
}
.forgot-pass {
  position: relative;
  top: 50%;
}
.forgot-pass a {
  margin: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #adb5bd;
  text-decoration: none;
}
.about-main {
  position: relative;
  top: 70%;
}
.about-web {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #525f7f;
}
.password-strength {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #8898aa;
}
